* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e2fcfc;
}

.semua {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 247, 255);
    width: 70vh;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 9px;
    padding-top: 3%;
    padding-bottom: 3%;
}

#twibbon-container {
    position: relative;
    width: 350px; /* Sesuaikan dengan ukuran templat */
    height: 350px; /* Tetapkan tinggi agar sama dengan lebar untuk membentuk persegi */
    overflow: hidden; /* Menyembunyikan konten yang keluar dari batas */
    background-color: #ffffff;
    border: 20px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 15px 8px #0000003d;
}

#user-image, #template {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Menggunakan contain untuk mempertahankan aspek rasio dan menghindari pemotongan */
}

#controls {
    width: 45vh;
    margin-top: 7%;
    background-color: #e2fcfc;
    box-shadow: 0 0 15px 8px #0000003d;
    border-radius: 9px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

#upload-foto-label {
    display: block;
    margin-top: 20px;
}

.foto-masuk {
    display: none;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 15px 15px;
}

.btn {
    border: 2px solid #39c0b3;
    color: #39c0b3;
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #39c0b3;
    color: white;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000;
}

input[type="file"],
input[type="range"] {
    width: 80%;
    margin-bottom: 10px;
}

#download-btn {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#download-btn:hover {
    background-color: #0066cc;
}
